@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/merriweather-sans-v13-latin-300.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/merriweather-sans-v13-latin-regular.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/merriweather-sans-v13-latin-700.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/merriweather-sans-v13-latin-800.woff2") format("woff2"), url("../fonts/merriweather-sans-v13-latin-800.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Merriweather Sans", "Arial", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 864px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}

.site__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.site__navbar__logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.site__navbar__logo:hover, .site__navbar__logo:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.navbar__logo__img {
  width: 70px;
  height: 70px;
}

.navbar__owner__name__wrapper {
  font-family: "Merriweather Sans", "Arial", sans-serif;
}

.navbar__owner__fullname {
  font-weight: 800;
  margin: 0 0 2px;
  line-height: 1;
  color: #2b2b2d;
  font-size: 1rem;
}

.navbar__owner__profession {
  margin: 0;
  color: #7a7a7a;
  font-size: 0.8rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  font-family: "Merriweather Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #2b2b2d;
  text-transform: uppercase;
  font-size: 1rem;
}

.main__link__effect {
  font-family: "Merriweather Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #2b2b2d;
  text-transform: uppercase;
  font-size: 1rem;
}

.hamburger__btn {
  display: none;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  background: url("../img/hamburger.svg") no-repeat;
  background-size: 80%;
  background-position: center center;
}

@media (min-width: 864px) {
  .menu__item {
    list-style-type: none;
    margin-left: 40px;
  }
  .menu__link {
    font-family: "Merriweather Sans", "Arial", sans-serif;
    font-weight: 700;
    color: #2b2b2d;
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
  }
  .menu__link:before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2b2b2d;
    position: absolute;
    left: 0;
    bottom: -12px;
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .menu__link:hover::before, .menu__link:focus::before {
    opacity: 1;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .main__link__effect {
    font-family: "Merriweather Sans", "Arial", sans-serif;
    font-weight: 700;
    color: #2b2b2d;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 30px;
    border: 1px solid #2b2b2d;
    border-radius: 25px;
    line-height: 0.8;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .main__link__effect:hover, .main__link__effect:focus {
    background-color: #2b2b2d;
    color: white;
  }
}

@media (max-width: 864px) {
  .hamburger__btn {
    display: block;
  }
  .navbar__menu {
    display: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 2px grey;
            box-shadow: 0 0 10px 2px grey;
    border-radius: 8px;
    position: absolute;
    top: 56px;
    right: 0;
    padding: 15px 0;
    -webkit-animation: all 0.2s linear forwards;
            animation: all 0.2s linear forwards;
  }
  .d-block {
    display: block;
  }
  .menu__link,
  .main__link__effect {
    display: block;
    padding: 5px 40px;
    font-size: 0.9rem;
    font-weight: normal;
  }
  .menu__link:hover, .menu__link:focus,
  .main__link__effect:hover,
  .main__link__effect:focus {
    background-color: #dfdcdc;
  }
  .navbar__logo__img {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 2px solid #d4cece;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site__header__texts {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 90px;
  margin-bottom: 90px;
}

.hello__iam {
  margin: 5px 0;
  color: #7a7a7a;
}

.site__header__name {
  margin: 0;
  font-size: 2rem;
}

.site__header__profession {
  margin: 5px 0 20px;
  color: #7a7a7a;
}

.site__header__img {
  width: 350px;
  height: 350px;
  background-image: url("/img/owner__img.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.linkes__list {
  padding: 0;
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  list-style-type: none;
  margin-right: 16px;
}

.social__item:nth-of-type(1) .social__link {
  background-color: #3b559a;
}

.social__item:nth-of-type(2) .social__link {
  background-color: #0e5489;
}

.social__item:nth-of-type(3) .social__link {
  background-color: #57acf0;
}

.social__link {
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social__link:hover, .social__link:focus {
  border-radius: 10px;
}

.social__img {
  width: 70%;
}

.main__link__effects {
  outline: none;
  font-family: "Merriweather Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #2b2b2d;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.625rem 2rem;
  border: 1px solid #2b2b2d;
  border-radius: 25px;
  line-height: 0.8;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main__link__effects:hover, .main__link__effects:focus {
  background-color: #2b2b2d;
  color: white;
}

@media (max-width: 700px) {
  .site__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site__header__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 150px;
    background-size: contain;
  }
  .site__header__texts {
    width: 100%;
    text-align: center;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .site__header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .site__header__profession {
    margin-bottom: 5px;
  }
  .social__link {
    height: 26px;
    width: 26px;
  }
}

.projectes__heading {
  text-align: center;
}

.projectes__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__item {
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px 1px rgba(172, 168, 168, 0.761);
          box-shadow: 0 0 1px 1px rgba(172, 168, 168, 0.761);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.project__item:hover {
  -webkit-box-shadow: 0 0 10px 10px rgba(172, 168, 168, 0.761);
          box-shadow: 0 0 10px 10px rgba(172, 168, 168, 0.761);
}

.project__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
}

.project__responsive {
  color: green;
  text-transform: uppercase;
}

.used__technology {
  font-size: 1rem;
  text-align: left;
  padding-left: 20px;
}

.project__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 20px 20px;
}

.project__name {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}

.project__name:hover, .project__name:focus {
  color: #28aeb8;
}

@media (max-width: 700px) {
  .projectes__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .project__item {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .used__technology {
    margin: 0;
    padding: 0 5px;
  }
  .project__responsive {
    margin: 5px 0;
  }
  .project__item {
    margin-right: 0;
    width: 48%;
  }
  .project__footer {
    padding: 0 5px 5px 5px;
  }
}

.pagination {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-weight: bold;
}

.pagination__list {
  padding: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #abcfed;
  border-radius: 3rem;
}

.pagination__list > li {
  color: #20b2aa;
  list-style-type: none;
  line-height: 3rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.numb {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.dots {
  cursor: default;
}

.pagination__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.prev {
  border-radius: 1.5rem 0.3rem 0.3rem 1.5rem;
}

.next {
  border-radius: 0.3rem 1.5rem 1.5rem 0.3rem;
}

.prev > span {
  background-image: url("../img/left.svg");
}

.next > span {
  background-image: url("../img/right.svg");
}

.pagination__list .active {
  color: white;
  background: lightseagreen;
}

.pagination__list .numb:hover,
.pagination__list .pagination__btn:hover {
  color: white;
  background: rgba(32, 178, 170, 0.3);
}
/*# sourceMappingURL=main.css.map */