html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
  font-family: $MerSans;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
// * {
  //   outline: none;
  // }