html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *::after, *::before {
  box-sizing: inherit;
  font-family: $MerSans;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
@media (max-width: 864px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
