.pagination {
	font-family: "Arial", sans-serif;
	text-align: center;
	font-weight: bold;
}
.pagination__list {
	padding: 0.5rem;
	display: inline-flex;
	background: rgb(171, 207, 237);
	border-radius: 3rem;
}
.pagination__list > li {
	color: #20b2aa;
	list-style-type: none;
	line-height: 3rem;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
}
.numb {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}
.dots {
	cursor: default;
}
.pagination__btn {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}
.prev {
	border-radius:1.5rem 0.3rem 0.3rem 1.5rem;
}
.next {
	border-radius: 0.3rem 1.5rem 1.5rem 0.3rem;
}
.prev > span {
	background-image: url("../img/left.svg");
}
.next > span {
	background-image: url("../img/right.svg");
}
.pagination__list .active {
	color: white;
	background: rgb(32, 178, 170);
}
.pagination__list .numb:hover,
.pagination__list .pagination__btn:hover {
	color: white;
	background: rgba(32, 178, 170,0.3)
}